{% extends 'store/base.html' %}
{% load static %}
{% block title %}ABOUT US{% endblock %}
{% block content %}

<div class='container'>
    <div class="Header">
        <div class='carousel-inner'>Logo</div>
        <div class="carousel-item active">
            <img src="{% static 'store/img/default.jpg' %}" class="width="500" height="18"" alt="No images">
        </div>
    </div>
    <div class='body'>
        <h2 class='alert-bg-success'>About My Brand </h2>
        <div class='alert-light'>
            <h3>My story</h3>
            <p>
                We started in 2025 with a simple mission to make business growth accessible to everyone.
                &rarr; Today, we're helped 100-clients across Phone industry streamlined operations
            </p>
            <h3>My System</h3>
            <h4>Founder of Company:</h4>
            <p>	&#124;Guo An & Tuan Anh: Passionate about Phone Industry and 1 years experience in selling phone</p>
            <h4>Designer:</h4>
            <p>	&#124;HTech: Love turning complex ideas into beautiful, functional designs</p>
            <h3>The resons buying phone</h3>
            <p>&#10003; T
            </p>
        </div>
    </div>


</div>