
{% extends 'store/base.html' %}
{% load static %}

{% block title %}{{product.name}}{% endblock %}

{% block content %}

<div class="container mt-3">
  <div class="row">
    <div class=" col-sm-6 col-md-5">
     <div class="card">
        <img src="{{product.image.url}}" alt="{{product.name}}" style="height:300px;">
     </div>
    </div>
    <div class=" col-sm-6 col-md-7">
      <h2>{{product.name}}</h2>
      <h3 style="color:red;">{{formatted_price}}</h3>
      
<a href="#" class="btn btn-success mt-2" style="color:black;background-color:white;border:2px solid black;">Mua ngay</a>
        
<a href="#" class="btn btn-success mt-2" style="background-color:black;">Thêm vào giỏ hàng</a>
        
      
    </div>
  
  </div>
</div>
<div style="margin-left:5px;">
<h3 style="margin-top:10px;">Thông tin sản phẩm</h3>
<p>{{product.descrip}}</p>
</div>
{% endblock %}
