
{% extends 'store/base.html' %}
{% load static %}
{% block title %}
Thêm sản phẩm 
{% endblock title %}
{% block content %}
 
        <div class="add-content" id="editproduct">
         
            <h2 id="add-title">Thêm Sản Phẩm</h2>
            <form method="POST" enctype="multipart/form-data" id="product-form" action="/api/products/create">
                {% csrf_token %}
                <label for="name">Tên sản phẩm:</label>
                <input type="text" id="name" name="name" required><br><br>

                <label for="price">Giá sản phẩm:</label>
                <input type="number" id="price" name="price" required><br><br>

                <label for="stock">Tồn hàng:</label>
                <input type="number" id="stock" name="stock" required><br><br>
                
                <label for="descrip">Mô tả sản phẩm:</label>
                <textarea id="descrip" name="descrip" style="width: calc(100% - 20px); 
    padding: 12px 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    box-sizing: border-box; 
    transition: border-color 0.3s ease;overflow-y: scroll; overflow-x: hidden; height: 200px; width: 100%;" required></textarea>
<br><br>

                <label for="image">Hình ảnh:</label>
                <input type="file" id="image" name="image"><br><br>

                <input type="hidden" name="product_id" id="product-id">
                <button type="submit" id="submit-button">Thêm Sản Phẩm</button>
             </form>
        </div>
        <div id="product-list" class="product-container">

</div>
    <script>
        function formatVND(n){
  n=Number(n)
  return n.toLocaleString('vi-VN')+'đ'


}
    function loadProduct(){
        fetch('/api/products/')
        .then(response=>response.json())
        .then(data=>{
            let html=''
            data.forEach(item=>{
                html+=`
                    \
<div class="product-card" style="height:100%; max-width:400px;">
                    <img class="ratio ratio-1x1" src="${item.image}" alt="${item.name}">
                    <div class="product-info">
                        <h3>${item.name}</h3>
                        <p class="price">Giá: ${formatVND(item.price)} </p>
                    <div class="button" style="display:flex;flex-direction:row;justify-content:center; margin-bottom:5px;">
                        <button id="fix-product" class="btn btn-primary" style="margin-right:20px;"  onclick="showEdit(${item.id},'${item.name}',${item.price},${item.stock})">Sua</button>
                    <button id="del-product" class="btn btn-danger" onclick="deleted(${item.id})">Xoa </button>
                    </div>    
                    <div class="stock-info">Tồn hàng: ${item.stock}</div>
                    </div>
                    
                </div>
                
                `
            })
            document.getElementById('product-list').innerHTML=html;
        })
    }
    function addProduct(){
        let formData=new FormData()
        formData.append("name",document.getElementById("name").value)
        formData.append("price",document.getElementById("price").value)
        formData.append("stock",document.getElementById("stock").value)
        let imageInput=document.getElementById("image")
        if(image.files.length>0){
            formData.append('image',image)
        }
        fetch("/api/products/create/",{
            method:"POST",
            body:formData
        })
        .then(res=>res.json())
        .then(()=>loadProduct())
    }
    loadProduct()
    function showEdit(id, name, price, stock){
        console.log("hehe")
        document.getElementById("name").value=name
        document.getElementById("price").value=price
        document.getElementById("stock").value=stock
        window.editId=id
        document.getElementById('edit-btn')?.remove()
        let btn=document.createElement('button')
        btn.id='edit-btn'
        btn.style='margin-top:10px;'
        btn.className='btn btn-danger'
        btn.innerText='Cap nhat'
        btn.onclick=function(){
            editProduct(id)
        }
        document.getElementById('editproduct').appendChild(btn)
        }
        function editProduct(id){
            let formData= new FormData()
            formData.append('name',document.getElementById('name').value)
            formData.append('price',document.getElementById('price').value)
            formData.append('stock',document.getElementById('stock').value)
            let getImage=document.getElementById('image').files[0]
            if (getImage){
                formData.append('image',getImage)
            }
            
            fetch(`/api/products/update/${id}/`,{
                method:'POST',
                
                body:formData
            })
            .then(res=>res.json())
            .then(()=>loadProduct())
        }
        function deleted(id){
            let formData= new FormData()
            formData.append('name',document.getElementById('name').value)
            formData.append('price',document.getElementById('price').value)
            formData.append('stock',document.getElementById('stock').value)
            let getImage=document.getElementById('image').files[0]
            if (getImage){
                formData.append('image',getImage)
            }
            fetch(`/api/products/delete/${id}/`,{
                method:'POST',
                
                body:formData
            })
            .then(res=>res.json())
            .then(()=>loadProduct())
        }
</script>
{% endblock content %}