
{% extends 'store/base.html' %}
{% load static %}
{% block title %}
Thêm sản phẩm 
{% endblock title %}
{% block content %}
 
        <div class="add-content" >
         
            <h2 id="add-title">Thêm Sản Phẩm</h2>
            <form method="POST" enctype="multipart/form-data" id="product-form">
                {% csrf_token %}
                <label for="name">Tên sản phẩm:</label>
                <input type="text" id="name" name="name" required><br><br>

                <label for="price">Giá sản phẩm:</label>
                <input type="number" id="price" name="price" required><br><br>

                <label for="stock">Tồn hàng:</label>
                <input type="number" id="stock" name="stock" required><br><br>
                
                <label for="descrip">Mô tả sản phẩm:</label>
                <textarea id="descrip" name="descrip" style="width: calc(100% - 20px); 
    padding: 12px 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    box-sizing: border-box; 
    transition: border-color 0.3s ease;overflow-y: scroll; overflow-x: hidden; height: 200px; width: 100%;" required></textarea>
<br><br>

                <label for="image">Hình ảnh:</label>
                <input type="file" id="image" name="image"><br><br>

                <input type="hidden" name="product_id" id="product-id">
                <button type="submit" id="submit-button">Thêm Sản Phẩm</button>
            </form>
        </div>
    
{% endblock content %}