{%extends 'store/base.html'%}
{%load static %}
{% block title %}
Thanh toan
{%endblock title%}
{%block content%}
<div class="container">
    <table class="table">
  <thead>
    <tr>

      <th scope="col" ><input style="margin-right:5px;"class="form-check-input" type="checkbox" id="checkAll">Sản Phẩm</th>
      <th scope="col">Đơn Giá</th>
      <th scope="col">Số Lượng </th>
      <th scope="col">Số tiền</th>
      <th scope="col">Thao Tác</th>
    </tr>
  </thead>
  <tbody id="product-list">
    
  </tbody>
  </table>
</div>
<script>
      function formatVND(n){
  n=Number(n)
  return n.toLocaleString('vi-VN')+'đ'


}
    function loadProduct() {
    fetch('/api/thanhtoan/')
    .then(response => response.json())
    .then(data => {
        let html = '';
        data.forEach(item => {
            html += `
                <tr>
      
      <td style="display:flex;align-items:center;"><input class="form-check-input child-checkbox" type="checkbox" id="product1" ><img  src="${item.image}" alt="${item.name}" style="width:55px;height:60px;">${item.name}</td>
  
      <td style="padding-top:20px;padding:auto;">${formatVND(item.price)}</td>
      <td style="padding-top:20px;padding:auto;">${item.quantity}</td>
      <td style="padding-top:20px">${formatVND(item.price)}</td>
      <td ><a class="btn btn-danger" style="margin-left:15px;">X</a></td>              
      </tr>
            `;
        });
        document.getElementById('product-list').innerHTML = html;
    });
}
loadProduct()
$('#checkAll').on('change', function() {
      $('.child-checkbox').prop('checked', this.checked);
    });
    $('.child-checkbox').on('change', function() {
      $('#checkAll').prop('checked', $('.child-checkbox:checked').length === $('.child-checkbox').length);
    });
</script>
{%endblock content%}