
{% extends 'store/base.html' %}
{% load static %}

{% block title %}Danh sách sản phẩm{% endblock %}

{% block content %}

        <div style="display:flex; flex-direction: column; align-items: center; margin-bottom:50px;">
       <h2 >Danh Sách Sản Phẩm</h2>
       <div class="search-form">
        <form method="GET" action="{% url 'product_list' %}">
            <input
                type="text"
                name="q"
                placeholder="Tìm kiếm sản phẩm..."
                value="{{ request.GET.q|default:'' }}"
                style="width:260px;"
            >
            <button type="submit" style="border:none;background-color: aqua;color:white;padding:2px; border-radius:2px;">Tìm</button>
        </form>
    </div>
</div>
        <div class="product-container" style="height:100%;">
            {% for i in products %}
           <div class="product-card" style="border:2px solid black;height:100%; ">
       
            <img src="{{i.image.url}}" alt="{{i.name}}" >
            <div class="product-info">
                <h3 >{{i.name}}</h3>
                <p class="price">Gía: {{i.formatted_price}} đồng</p>
                <div class="buttons">
                    <a href="{% url 'descrip' %}"><button class="btn details-btn">Chi tiết</button></a>
                    <button class="btn add-cart-btn">Thêm vào</button>
                </div>
            </div>

        </div>
        {% empty %}
      <p>Chưa có sản phẩm nào.</p>
            {% endfor %}
           
    </div>

{% endblock %}
