
{% extends 'store/base.html' %}
{% load static %}

{% block title %}Danh sách sản phẩm{% endblock %}

{% block content %}

        <div style="display:flex; flex-direction: column; align-items: center; margin-bottom:50px;">
       <h2 >Danh Sách Sản Phẩm</h2>
       <div class="search-form">
        <form method="GET" action="{% url 'product_list' %}">
            <input
                type="text"
                name="q"
                placeholder="Tìm kiếm sản phẩm..."
                value="{{ request.GET.q|default:'' }}"
            >
            <button type="submit">Tìm</button>
        </form>
    </div>
</div>
        <div class="product-container">
            {% for i in products %}
           <div class="product-card" style="border:2px solid black;">
            <img src="{{i.image.url}}" alt="{{i.name}}" >
            <div class="product-info">
                <h3>{{i.name}}</h3>
                <p class="price">Gía: {{i.price}} đồng</p>
                <div class="buttons">
                    <button class="btn details-btn">Chi tiết</button>
                    <button class="btn add-cart-btn">Thêm vào</button>
                </div>
            </div>
            <p style="text-align: right;color:red;">Số lượng: {{i.stock}}</p>
        </div>
        {% empty %}
      <p>Chưa có sản phẩm nào.</p>
            {% endfor %}
           
    </div>

{% endblock %}
