
{% extends 'store/base.html' %}
{% load static %}

{% block title %}Danh sách sản phẩm{% endblock %}

{% block content %}


       <h2>Danh Sách Sản Phẩm</h2>
        <div class="product-container">
            {% for i in products %}
           <div class="product-card">
            <img src="{{i.image.url}}" alt="{{i.name}}" >
            <div class="product-info">
                <h3>Intel Pentium</h3>
                <p class="price">Price: $999</p>
                <div class="buttons">
                    <button class="btn details-btn">Details</button>
                    <button class="btn add-cart-btn">Add cart</button>
                </div>
            </div>
        </div>
        </div>
            {% endfor %}
    

{% endblock %}
